.card{
    padding: 20px;
    margin: 30px;
}

.card:hover img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

.card:hover{ max-width: 100%;
  -moz-transition: all 0.9s;
-webkit-transition: all 0.9s;
transition: all 0.9s;
}