<ng-container *ngIf="true">
<div class="container">
    <div class="card-table">
        <div class="card-table">
            <div class="card-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of data">
                        <tr>
                            <td></td>
                            <td> {{item.title}} </td>
                            <td></td>
                            <td>wooden bed</td>
                            <th> {{item.price}} </th>
                            <td></td>
                            <td></td>
                            <td>
                                <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</ng-container>

<ng-container *ngIf="false">
<div class="container">
    <div class="card">
        <h5 class="card-title">My Cart</h5>

    </div>
    <div class="center">
        <img src="" alt="">
        <h4>Your Cart Is Empty</h4>
        <h6>Add Item To It Now</h6>
        <button class="btn btn-primary">Shop Now</button>
    </div>
</div>
</ng-container>