<section class="header" style="background-color:whitesmoke">

    <div class="container">
      
              
    
              <hr class="my-4" />
     <h5 class="mb-3">PAYMENT</h5>
    
              <div class="my-3">
                <div class="UPI">
                  
                  <label class="label">UPI PAYMENT</label>
                  <br><br>
              <img src="assets\images\70af3b51-5d68-4dad-b581-000ac7727574.jpg" style="width: 200px; height: 200px;">
          
            <br><br>
          </div>
      